########################
## Globaly ignored files
*~
*.save
*.bak
*.backup
*.o
*.layout
*.user
*.suo
*.ncb
*.swp

#
########################################
## Ignored project files and directories
Makefile
Makefile.Debug
Makefile.Release
object_script.GMlib.Debug
object_script.GMlib.Release
dist/*
doc/*
work/*

#
##########################################
# Ignored Ct Creator spesifics directories
qtc-gdbmacros
