########################
## Globaly ignored files
*~
*.save
*.bak
*.backup
*.o
*.lib
*.obj
*.so
*.layout
*.user
*.suo
*.ncb
*.swp
*.moc
*.pro.user*

#
########
## CMake
CMakeCache.txt
cmake_install.cmake
*/CMakeFiles/*

#
########################################
## Ignored project files and directories
Makefile
Makefile.Debug
Makefile.Release
object_script.GMlib.Debug
object_script.GMlib.Release
include/*
lib/*
.kdev4/*
*.kdev4

#
##########################################
# Ignored Ct Creator spesifics directories
qtc-gdbmacros
